<h2>===============Currency Pipe===============</h2>


<section class="currencyPipe">
  <div class="container">
    <div>
      <input [(ngModel)]="myPrice" placeholder="Enter the price" />
    </div>
    <div class="row">
      <div class="col">
        <p>Hello, {{ myPrice }}</p>
      </div>
      <div class="col">One of three columns</div>
      <div class="col">One of three columns</div>
    </div>
    <div class="row">
      <div class="col">One of three columns</div>
      <div class="col">One of three columns</div>
      <div class="col">One of three columns</div>
    </div>
    <div class="row">
      <div class="col">One of three columns</div>
      <div class="col">One of three columns</div>
      <div class="col">One of three columns</div>
    </div>
  </div>
</section>
