<section class="currencyPipe">
  <div class="container justify-content-center text-center">
    <div>
      <br /><br />
      <h2>Currency Pipe</h2>
      <br />
      <input [(ngModel)]="myPrice" placeholder="Enter the price" />
      <br /><br /><br />
    </div>
    <div class="row">
      <div class="col mx-3 my-5 border">
        <h3>$</h3>
        <p>{{ myPrice | currency: '':true }}</p>
      </div>
      <div class="col mx-3 my-5 border">
        <h3>₹</h3>
        {{ myPrice | currency: 'INR':'symbol-narrow' }}
      </div>
      <div class="col mx-3 my-5 border">
        <h3>€</h3>
        {{ myPrice | currency: 'EUR' }}
      </div>
    </div>
    <div class="row">
      <div class="col mx-3 my-5 border">
        <br />{{ myPrice | currency: 'CAD':'symbol' }}<br />
      </div>
      <div class="col mx-3 my-5 border">
        <br />{{ myPrice | currency: 'INR':'Indian Rupee' }}<br />
      </div>
      <div class="col mx-3 my-5 border">
        <br />{{ myPrice | currency: 'EUR':'code' }}<br />
      </div>
    </div>
    <div class="row">
      <div class="col mx-3 my-5 border">
        <br />{{ myPrice | currency: 'CAD':'symbol':'3.1-1' }}<br />
      </div>
      <div class="col mx-3 my-5 border">
        <br />{{ myPrice | currency: 'INR':'symbol':'3.0' }}<br />
      </div>
      <div class="col mx-3 my-5 border">
        <br />{{ myPrice | currency: 'EUR':'symbol':'4.2-5' }}<br />
      </div>
    </div>
  </div>
</section>
